@model IEnumerable<Fiap.DesenvolvimentoWeb.CadastroEventos.Models.TBEventos>

@{
    ViewBag.Title = "Lista de Eventos";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Novo Evento", "Cadastro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsavel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsavel)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.IDEvento }) |
            @*@Html.ActionLink("Detalhar", "Detalhar", new { id=item.IDEvento }) |*@
            @Html.ActionLink("Deletar", "Deletar", new { id=item.IDEvento })
        </td>
    </tr>
}

</table>
